{namespace s=Subugoe\Find\ViewHelpers}
{namespace m=Slub\MahuFrontend\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default"/>
<f:comment>
	Template for a the search results view.

	Sets up the page with its title, the search form, pager and result count
	information. Then displays the configured facets and a result list using the
	fields configured as standardFields.title and standardFields.snippet.
	Results are linked to the respective documents’ detail pages.

	This result display is sufficient for basic result lists.
</f:comment>
<f:section name="main">
	<f:render partial="Page/Standard" arguments="{_all}"/>

	<f:if condition="{noSearch}">
		<f:then>
			<f:if condition="{settings.mahu.wizardView}">
				<f:then>
					<f:comment> Render the wizard page </f:comment>
					<script>const currentPage = "WizardPage";</script>
					<f:render partial="Page/WizardPage" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:comment> Render the landing page </f:comment>
					<script>const currentPage = "LandingPage";</script>
					<f:render partial="Page/LandingPage" arguments="{_all}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:comment> Render the results area </f:comment>
			<script>const currentPage = "ResultsPage";</script>
			<f:render partial="Page/ResultsPage" arguments="{_all}" />
		</f:else>
	</f:if>
	
	<f:if condition="{settings.mahu.dev}">
		<f:render partial="mahu/Debug" arguments="{_all}"/>
	</f:if>
</f:section>
