{namespace s=Subugoe\Find\ViewHelpers}
{namespace m=Slub\MahuFrontend\ViewHelpers}

<f:comment>
	Renders a table listing all certificates mentioned in a given material description.
</f:comment>

<ul id="c{config.uid}-resultList" class="resultList" start="{config.counterStart}">
	<f:for each="{grouping.valueGroups}" as="group">

	<li>
		<div class="groupHeader expanded" tabindex="0">
			<p class="groupName"><f:if condition="{group.value}"><f:then>{group.value}</f:then><f:else>{f:translate(key:'LLL:EXT:mahu_frontend/Resources/Private/Language/locallang.xml:noProducer')}</f:else></f:if><span class="groupCount"><f:count subject="{group.documents}"/> <f:translate key="of"/> {group.numFound}</span></p><a class="groupExpander fa fa-chevron-circle-up no-change" aria-hidden="true"></a>
		</div>
	
		<ul class="groupEntries">
		<v:variable.set name="customprops" value="{v:iterator.explode(content:arguments.cpp, glue:',')}" />
		<f:alias map="{atts:'{m:AdditionalResultInfos(query:arguments.q,schema:settings.mahu.schema,documents:group.documents,customprops:customprops)}', maxscore:group.maximumScore}">
			<f:for each="{group.documents}" as="doc">
				<f:alias map="{document:'{m:HideMaterialProperties(material:doc)}'}">
				<f:render partial="Display/Result" arguments="{_all}"/>
				</f:alias>
			</f:for>
		</f:alias>
		</ul>
		<f:if condition="{settings.grouping.showMenu}"><f:then></f:then><f:else>
			<div class="groupResultsExpanderContainer">
				<a class="groupResultsExpander no-change" >{f:translate(key:'LLL:EXT:mahu_frontend/Resources/Private/Language/locallang.xml:showall')}</a>
			</div>
			</f:else>
		</f:if>
	</li>
	</f:for>
</ul>
