<h3><f:translate key="LLL:EXT:mahu_frontend/Resources/Private/Language/locallang.xml:material.errors.header"/></h3>
<div class="error">
	<f:if condition="{unknownID}">
	<p><f:translate key="LLL:EXT:mahu_frontend/Resources/Private/Language/locallang.xml:material.errors.unknownID"/></p>
	</f:if>
	<f:if condition="{nopermission}">
	<p><f:translate key="LLL:EXT:mahu_frontend/Resources/Private/Language/locallang.xml:material.errors.nopermission"/></p>
	</f:if>
	<f:if condition="{insufficientarguments}">
	<p><f:translate key="LLL:EXT:mahu_frontend/Resources/Private/Language/locallang.xml:material.errors.insufficientarguments"/></p>
	</f:if>
	<f:if condition="{nologin}">
	<p><f:translate key="LLL:EXT:mahu_frontend/Resources/Private/Language/locallang.xml:material.errors.nologin"/></p>
	</f:if>
</div>