/* welcome banner */
.mahuwelcome {
	position: relative;
	text-align: center;
	color: white;
	padding: 40px;
	cursor: pointer;
	display: block;
}
.mahuwelcome::before {
	background:
		url('/typo3conf/ext/mahu_frontend/Resources/Public/Images/banner.jpg')
		no-repeat 0 0;
	background-size: auto;
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.galeryItem {
	max-width: 130px;
	max-height: 130px;
}

.galeryItem img {
	border-radius: 65px;
	border-style: solid;
	border-width: 4px;
	border-color: #eee;
}

.testimonial {
	padding: 10px 20px;
	display: grid !important;
	grid-template-columns: 130px auto;
	grid-column-gap: 20px;
}

.testimonial .quote {
	text-align: left;
	font-size: larger;
	margin: auto;
}

.testimonial .subtitle {
	font-size: smaller;
	margin-top: 10px;
}

a#startsearch {
	font-size: 1.5em;
	padding:10px 15px;
}

@media screen and (max-width: 999px) {
	.testimonial {
		grid-template-columns: 110px auto;
	}
}

@media screen and (max-width: 600px) {
	.testimonial {
		grid-template-columns: 80px auto;
		padding: 10px 0;
	}
	.mahuwelcome {
		padding: 20px;
	}
	a#startsearch {
		font-size: 1.2em !important;
	}
}

.mahuwelcome * {
	z-index: 2;
	position: inherit;
}

#bm {
	margin: 50px 0 80px 0;
	font-size: 1.2em;
	text-align: center;
}
@media screen and (max-width: 999px) {
	.mahuwelcome {
		font-size: 0.9em;
	}
}
@media screen and (max-width: 768px) {
	.mahuwelcome {
		font-size: 0.8em;
	}
	.mahuwelcome img {
		width: 80%;
	}
}

@media screen and (max-width: 600px) {
	.mahuwelcome {
		font-size: 0.7em;
	}
	.mahuwelcome img {
		width: 90%;
	}
}

@media screen and (max-width: 460px) {
	.mahuwelcome {
		font-size: 0.6em;
	}
	.mahuwelcome img {
		width: 100%;
	}
}
/* welcom bannder END */

/* login form */
.frame-type-login .tx-felogin-pi1 {
	margin: 20px 0;
}

.frame-type-login .tx-felogin-pi1 form legend {
	display: none;
}

.frame-type-login .tx-felogin-pi1 form {
	margin: auto;
	padding: unset;
	max-width: 800px;
	min-width: 300px;
}

.frame-type-login .tx-felogin-pi1 form label {
	font-weight: normal;
}

.frame-type-login .tx-felogin-pi1 form.forgotpassword fieldset .eC {
	grid-template-columns: auto auto;
	margin-bottom: 10px;
	grid-column-gap: 10px;
}

.frame-type-login .tx-felogin-pi1 form.forgotpassword fieldset .eC div {
	grid-template-columns: max-content auto;
	margin-bottom: 10px;
	grid-column-gap: 10px;
}

@media screen and (max-width: 700px) {
	.frame-type-login .tx-felogin-pi1 form.forgotpassword fieldset .eC {
		grid-template-columns: auto;
	}
	.frame-type-login .tx-felogin-pi1 form.forgotpassword fieldset .eC div {
		grid-template-columns: auto !important;
	}
}

.frame-type-login .tx-felogin-pi1 form fieldset .eC .permaloginContainer {
	grid-template-columns: max-content min-content;
	grid-column: 1;
	grid-row: 2;
}

.frame-type-login .tx-felogin-pi1 form fieldset .eC {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-column-gap: 20px;
}

.frame-type-login .tx-felogin-pi1 form fieldset .eC div {
	grid-template-columns: min-content minmax(70px, auto);
	margin-bottom: 10px;
	grid-column-gap: 10px;
}

@media screen and (max-width: 700px) {
	.frame-type-login .tx-felogin-pi1 form fieldset .eC .permaloginContainer {
		grid-column: unset;
		grid-row: unset;
	}
	
	.frame-type-login .tx-felogin-pi1 form fieldset .eC {
		grid-template-columns: auto !important;
	}
	.frame-type-login .tx-felogin-pi1 form fieldset .eC div {
		grid-template-columns: minmax(auto,150px) auto !important;
	}
}

.frame-type-login .tx-felogin-pi1 form fieldset .eC .felogin-hidden {
	margin: unset;
	display: none;
}

@media screen and (min-width: 1000px) {
	.frame-type-login .tx-felogin-pi1 form fieldset .eC {
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-column-gap: 20px;
	}
}
/* login form END */

/* benefits area */
.olpbenefitsarea {
	display: grid;
	grid-column-gap: 50px;
	grid-row-gap: 20px;
	margin-bottom: 80px;
	grid-template-columns: auto;
}

.olpbenefitsitem {
	background: #eee;
	display: grid;
	grid-template-columns: 250px auto;
}
@media (max-width: 700px) {
	.olpbenefitsitem {
		grid-template-columns: auto;
	}
	.olpbenefitsitem .img {
		height: 125px;
	}
}

.olpbenefitsitem .img {
	background:
		url('/typo3conf/ext/mahu_frontend/Resources/Public/Images/banner.jpg')
		no-repeat 0 0;
	background-size: cover;
	content: ' ';
	display: block;
	opacity: 0.8;
}
.olpbenefitsitem.search .img {
	background-image: url('/fileadmin/user_upload/search.webp')
}
.olpbenefitsitem.science .img {
	background-image: url('/fileadmin/user_upload/science.png')
}
.olpbenefitsitem.industry .img {
	background-image: url('/fileadmin/user_upload/industry.webp')
}
.olpbenefitsitem .ctn {
	padding: 20px 60px 20px 20px;
	position: relative;
}
.olpbenefitsitem .ctn .heading {
	font-weight: bolder;
	font-size: 1.5em;
}
.olpbenefitsitem .ctn .dll {
	position: absolute;
	right: 20px;
	top: calc(50% - 25px);
	text-align: center;
}
.olpbenefitsitem .ctn .dll p {
 margin: 5px 0 0 0;
}
.olpbenefitsitem .ctn ul {
	font-size: 1.2em;
}
@media (max-width: 400px) {
	.olpbenefitsitem .ctn .dll {
		position: initial;
	}
	.olpbenefitsitem .ctn {
		padding: 20px;
	}
}
@media (min-width: 1200px) {
	.olpbenefitsitem .ctn .dll {
		right: 40px;
	}
	.olpbenefitsitem .ctn {
		padding-right: 80px;
	}
}

.olpbenefitsarea a.btn:hover {
	color: white !important;
}
/* END */